<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Raspberry Pi Dashboard</title>
</head>

<body>
    <h1>Raspberry Pi一覧</h1>
    <div class="container">
        <!-- 右上に配置するためにボタンを追加 -->
        <a href="{{ url_for('main.add_raspi') }}" class="add-button">追加</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Current Temperature (°C)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for raspi in raspberries %}
                <tr>
                    <td>{{ raspi[0] }}</td>
                    <td>{{ raspi[1] }}</td>
                    <td>{{ raspi[2] }}</td>
                    <td>{{ raspi[3] }}</td>
                    <td>{{ raspi[4] or "N/A" }} °C</td>
                    <td>
                        <a href="/details/{{ raspi[0] }}">Details</a> |
                        <a href="{{ url_for('main.edit_raspi', id=raspi[0]) }}">Edit</a> |
                        <a href="{{ url_for('main.delete_raspi', raspi_id=raspi[0]) }}">削除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
